<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anisha Anilkumar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quintessential&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="content my-5">
      <div class=" d-flex justify-content-center typewriter">
        <h1 class="display-4 mt-3">Hey there! I'm Anisha.</h1>
      </div>
      <div class="lead d-flex justify-content-center" id="start">
        Welcome to my website. Nice to meet you! 
      </div>
      <br>
      <div class="bio pt-3 px-5 d-flex justify-content-center">
        <p>
          I am a 3rd Year B.Tech Student in Rajagiri School Of Engineering and Technology at Kochi, Kerala, India. 
          I am currently pursuing my bachelor's in Computer Science and Engineering.<br><br>
          My higher secondary education in the basics of computer science fuelled my passion to pursue Computer Science Engineering as a profession. I consider myself a 
          ‘forever student’, eager to both build on my academic foundations in programming and stay 
          in tune with the latest technological advancements through continued coursework and professional development. 
          My hunger for knowledge and determination to develop my skills to build better technologies and applications 
          for the advancement of humankind has led me to learn more than what my education offers.
         <br><br>
          During my free time, I engage myself in Yoga, painting and sketching. I also 
          actively participate in most college events and am part of the college NSS (National Service Scheme),
          IEEE and IEDC clubs. I also plays a lot of sports and am also part of the college Badminton Team.
          <br><br>
          I am passionate to learn more and am still exploring and trying to master more skills.
        </p>
      </div>
      <div>
        <img src="images/Anisha_Photo.jpg" class="rounded-circle col-3 justify-content-center mb-3" alt="Anisha Anilkumar">
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <blockquote class="blockquote text-center">
        <p class="mb-0 quote"><span class="dblquote">"</span>We are not beginners forever, but we never stop learning.<span class="dblquote">"</span></p><br>
        <footer class="blockquote-footer">Sandra Scofield <cite title="Source Title"> American Novelist</cite></footer>
      </blockquote>
    </div> 
    <div class="content my-5">
      <h2 class="m-4"><i>Learning from my failures and persistent to move beyond all success ...</i></h2>
      <p class="bio">
        Received the Singapore Airlines Scholarship for pursuing Junior College in Singapore.
        Studied in Singapore for 1 year.
      </p>
      <br>
      <hr style="width:50%;text-align:center;margin: auto">
      <br>
      <p class="bio">
        Won the 2nd Runner-Up in Kerala Reboot Hackathon 2020 (Regional). My team built a ML
        based Flood Prediction model that sends alarms using IoT and predicts floods based on 
        previous trends.
      </p>
      <br>
      <hr style="width:50%;text-align:center;margin: auto">
      <br>
      <p class="bio">
        <strong>Currently I hold the position as the Webmaster for IEEE RSET Student Branch 
          and also for IEEE Computer Society Kerala Section.
        </strong>
      </p>
      <br>
      <hr style="width:50%;text-align:center;margin: auto">
      <br>
    </div>
    <div class="content my-3">
     <h1>Languages</h1> 
     <p style="font-size: large;">
       I am fluent in English and Hindi. I am also able to converse in Tamil and Malayalam.
     </p>
     <h1>Programming Languages</h1> 
     <p style="font-size: large; word-spacing: 20px;">
         Python   C   C++   Java     
      </p>
    </div>
    <footer class="bg-dark text-center text-light">
      <!-- Grid container -->
      <div class="container p-1">
        <!-- Section: Social media -->
        <section class="mb-1">
          
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="mailto:anishaanil1025@gmail.com" target="_blank" rel="noopener noreferrer" role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/anishanill/" target="_blank" rel="noopener noreferrer" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/anisha-anilkumar/" target="_blank" rel="noopener noreferrer" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Anisha2510" target="_blank" rel="noopener noreferrer" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
    
      <!-- Copyright -->
      <div class="text-center p-1 ">
        © anishaAnil
      </div>
      <!-- Copyright -->
    </footer>
  </body>
  </html>
